{% extends 'planner/base.html' %}

{% block content %}
<h2>Dashboard</h2>

<fieldset>
    <legend>Subject Management</legend>
    <a href="/admin/">Go to admin area...</a>
</fieldset>

<fieldset>
    <legend>List of subjects</legend>
    <table>
        <thead>
            <tr>
                <td>Taken</td>
                <td>Planned</td>
                <td>Watching</td>
            </tr>
        </thead>
        <tbody>
    {% for taken, planned, watching in context.combined_subject_list %}
            <tr>
                <td>{{ taken.name }} {% if taken %}({{ taken.grade }}) {% endif %}</td>
                <td>{{ planned.name }}</td>
                <td>{{ watching.name }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</fieldset>

{% endblock %}